* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}

.start-section {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1450562624248-869a3ec195f1?auto=format&fit=crop&w=1500&q=80");
  background-position: center;
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.initial-view {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  transform: translate(-50%, -50%);
  background-color: white;
}

.start-text {
  text-align: center;
  padding: 25px;
  font-weight: 300;
}

.start-text p {
  margin-top: 50px;
  text-align: center;
}

h1 {
  font-size: 48px;
  padding: 10px;
}

.search-section {
  text-align: center;
}

input {
  width: 400px;
  height: 30px;
  box-shadow: none;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  background-color: #ecf0f1;
  border: none;
}

button {
  width: 200px;
  height: 40px;
  margin: 40px 0;
  border: none;
  background-color: #e74c3c;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

#map {
  width: 720px;
  height: 405px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.error-handle {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 700;
}
