/* ---Mobile--- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

  .start-section {
    display: flex;
    justify-content: center;
  }

  .start-text h1 {
    font-size: 102px;
  }

  .start-text h2 {
    font-size: 54px;
  }

  .start-text p {
    font-size: 36px;
  }

  input {
    width: 80%;
    height: 50px;
  }

  .initial-view {
    width: 100%;
    height: 550px;
  }

  .middle-section {
    flex-wrap: wrap;
  }

  .individual-trail {
    width: 100%;
    margin: 20px 50px;
  }

  .weather-message h2 {
    font-size: 66px;
  }

  .weather-area {
    margin-top: 60px;
  }

  .weather-forecast {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .daily-forecast {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .map-area {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .trails-near-text {
    font-size: 66px;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    p {
      font-size: 32px;
    }

    .individual-trail h2 {
      font-size: 48px;
    }

    .daily-forecast h3 {
      font-size: 48px;
    }

    .start-section {
      display: flex;
      justify-content: center;
    }

    .start-text h1 {
      font-size: 102px;
    }

    .start-text h2 {
      font-size: 54px;
    }

    .start-text p {
      font-size: 36px;
    }

    input {
      width: 80%;
      height: 50px;
      font-size: 36px;
    }

    button {
      width: 30%;
      height: 70px;
      font-size: 36px;
    }

    #map {
      width: 100%;
      height: 600px;
      box-sizing: border-box;
    }

    .initial-view {
      width: 100%;
      height: 550px;
    }

    .middle-section {
      flex-wrap: wrap;
    }

    .individual-trail {
      width: 100%;
      margin: 20px 50px;
    }

    .weather-message h2 {
      font-size: 74px;
    }

    .weather-area {
      margin-top: 60px;
    }

    .weather-forecast {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .daily-forecast {
      width: 100%;
      text-align: center;
      margin: 10px 0;
    }

    .map-area {
      width: 100%;
      height: 800px;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      margin: 0;
    }

    .trails-near-text {
      font-size: 74px;
    }
}

@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {

    .start-section {
      display: flex;
      justify-content: center;
    }

    .start-text h1 {
      font-size: 102px;
    }

    .start-text h2 {
      font-size: 54px;
    }

    .start-text p {
      font-size: 36px;
    }

    input {
      width: 80%;
      height: 50px;
    }

    .initial-view {
      width: 100%;
      height: 550px;
    }

    .middle-section {
      flex-wrap: wrap;
    }

    .individual-trail {
      width: 100%;
      margin: 20px 50px;
    }

    .weather-message h2 {
      font-size: 66px;
    }

    .weather-area {
      margin-top: 60px;
    }

    .weather-forecast {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .daily-forecast {
      width: 100%;
      text-align: center;
      margin: 10px 0;
    }

    .map-area {
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .trails-near-text {
      font-size: 66px;
    }

}
