@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .middle-section {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .weather-message {
      justify-content: center;
      margin-top: 30px;
    }

    .weather-forecast {
      justify-content: center;
    }

    .daily-forecast {
      width: 16%;
    }

    .search-message {
      justify-content: center;
    }

    .trails-near-text {
      text-align: center;
    }

}
